* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  /* Theme colours */
  --color-olive: 128, 117, 0;
  --color-violet: 89, 41, 65;
  --color-mint: 82, 183, 136;
  --color-celadon: 178, 211, 168;
  --color-vanilla: 237, 229, 166;
  font-size: 18px;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100vh;
  border: 8px solid rgb(var(--color-celadon));
  font-family: sans-serif;
  background-color: #eee;
  color: rgb(var(--color-violet));
}

header {
  text-align: center;
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.koala {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: aliceblue;
}

.hair-left {
  position: absolute;
  top: 24%;
  left: 42%;
  width: 9%;
  height: 9%;
  transform: rotate(45deg) skew(23deg, 23deg);
  background: #abbdce;
}
.hair-right {
  position: absolute;
  top: 26%;
  right: 42%;
  width: 7%;
  height: 7%;
  transform: rotate(45deg) skew(23deg, 23deg);
  background: #abbdce;
}

.ear-left {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 32.5%;
  height: 32.5%;
  background: #abbdce;
  border-radius: 50%;
  left: 15%;
  top: 27.5%;
}

.ear-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 32.5%;
  height: 32.5%;
  background: #abbdce;
  border-radius: 50%;
  right: 15%;
  top: 27.5%;
}
.inner-ear {
  width: 80%;
  height: 80%;
  background: #879bae;
  border-radius: 50%;
}

.face {
   position: absolute;
  width: 50%;
  height: 50%;
  background: #abbdce;
  border-radius: 50%
}

.eye-left {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 15%;
  height: 15%;
  background: white;
  border-radius: 50%;
    left:   35.5%;
    top:    39%;
}

.eye-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 15%;
  height: 15%;
  background: white;
  border-radius: 50%;
  right:   35.5%;
  top:    39%;
}

.pupil {
  width: 30%;
  height: 30%;
  background: #2a3549;
  border-radius: 50%;
}

.nose {
  position: absolute;
  display: block;
  width: 11%;
  height: 18%;
  background-color: #b68763;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  top: 49%;
}
