*
  position: relative
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none
  list-style: none

footer
  font-size: .9rem
  text-align: center
  color: #468787
  @media (min-width: 600px)
    margin-top: 4rem
  @media (min-width: 768px)
    margin-top: 6rem
