// base styles
@use 'base'

// traffic light
@use 'traffic-light'

a
  color: #468787
  transition: transform .24s
  &:hover
    transform: scale(1.1)
  &:active
    transform: scale(.9)

.page-title
  margin: 1rem 0
  font-size: 1.6rem
  text-align: center
  color: #468787

